.perspective {
  perspective: 1000px;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  .perspective * {
    transform: none !important;
    animation: none !important;
  }
}
